@import "./variables.scss";

.categorypopup {
  @apply bg-white rounded-lg shadow-lg px-6 flex items-center;

  .categlist {
    @apply flex flex-wrap py-3;

    .service {
      @apply cursor-pointer p-2 m-2 md:m-4 flex flex-col items-center;
      height: 80px;
      width: 90px;
      .serviceimg {
        @apply relative mt-2;
        height: 32px;
        width: 32px;
      }
      span {
        @apply mt-2 text-xs font-semibold text-gray-600 text-center capitalize;
        max-width: 120px;
      }

      &:hover span {
        @apply text-primary;
      }
    }

    @screen md {
      .service {
        width: 120px;
        height: 120px;

        .serviceimg {
          @apply mt-3;
          width: 48px;
          height: 48px;
        }

        span {
          @apply text-sm;
        }
      }
    }
  }
}
