@import "./variables.scss";

.headerplaceholder {
  height: $headerHeight;
}

.header {
  height: $headerHeight;
  @apply fixed w-full bg-white shadow-lg;
  z-index: 10;

  .logo {
    @apply cursor-pointer relative;
    width: 150px;
    height: 65px;
  }

  .searchbox {
    @apply flex items-center;
    .citylocation {
      @apply text-xl text-gray-500 cursor-pointer px-4;
      h6 {
        @apply text-base font-semibold ml-1 pb-1 border-b-2 border-dotted border-primary inline-block;
      }
      span {
        @apply relative;
        top: 2px;
      }
    }

    .searchbar {
      @apply fixed px-0 border-0;
      top: $headerHeight;
      left: 0;
      right: 0;
      input {
        @apply pl-3 py-1 pr-6 form-input rounded-none border focus:border-primary-light focus:ring-primary-dark outline-none w-full border-primary-light border-opacity-30;
      }
      span.mdi {
        @apply absolute right-3 top-1;
        &.mdi-close {
          @apply cursor-pointer;
        }
      }

      .resultsbox {
        @apply absolute px-3 py-4 bg-white shadow-xl rounded-bl-lg rounded-br-lg text-sm;
        top: 35px;
        width: max-content;
        max-width: 100%;
        left: 0px;
        min-width: 100%;

        span b {
          @apply font-semibold text-gray-800;
        }

        li a {
          @apply inline-block my-1 py-1 text-xs;
          max-width: 100%;
          position: relative;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        li b {
          @apply font-extrabold text-secondary-light opacity-75;
        }
      }
    }

    @screen md {
      .searchbar {
        @apply relative pl-4 border-l border-gray-200;
        left: unset;
        right: unset;
        top: unset;
        input {
          @apply pl-2 rounded-md border-gray-400 border-opacity-100;
          width: 250px;
        }
        span {
          @apply right-1;
        }

        .resultsbox {
          top: 55px;
          left: 15px;
          min-width: 95%;
        }
      }
    }
  }

  .navmenu {
    @apply h-full flex text-gray-600;

    .menuitem {
      @apply h-full px-3 border-b-4 border-transparent flex items-center cursor-pointer;
      & > span {
        @apply font-semibold transition-all opacity-60 hover:opacity-100;
      }
      &.active {
        @apply border-b-4 border-primary text-opacity-100 cursor-default;
        & > span {
          @apply opacity-100;
        }
      }

      &:hover {
        .submenu {
          opacity: 1;
          pointer-events: initial;
        }
      }

      .submenu {
        @apply fixed bg-gray-100 shadow-md w-screen transition-all cursor-default;
        opacity: 0;
        pointer-events: none;
        height: 300px;
        z-index: 15;
        top: $headerHeight;
        left: 0;
      }
    }

    .actionitem {
      @apply h-full px-3 flex items-center relative;

      &.cart {
        @apply text-2xl;

        h6 {
          @apply py-1 text-white text-center font-semibold bg-secondary rounded-full absolute text-xs;
          right: 6px;
          width: 24px;
          bottom: 15px;
        }
      }

      &.login {
        @apply border-l border-gray-100;
      }

      &.profile {
        @apply border-l border-gray-100 cursor-pointer;
        span {
          @apply text-2xl mr-1 inline-block;
        }
      }

      & .dropdown {
        @apply absolute px-3 py-2 rounded-bl-md rounded-br-md shadow-lg transition-all mx-auto bg-gray-50;
        top: 100%;
        left: 0;
        right: 0;
        width: 150px;
        z-index: 15;
        opacity: 0;
        pointer-events: none;
        margin-top: 12px;
        transform: translateY(-12px);

        &::before {
          content: "v";
          @apply block mx-auto top-0 left-0 right-0 absolute shadow font-semibold text-primary-light bg-white rounded-full text-center transition-transform;
          width: 16px;
          height: 24px;
          transform: scaleX(1.5) translateY(-16px) rotate(180deg);
          line-height: 18px;
        }

        ul,
        li {
          @apply m-0 p-0;
        }

        li {
          @apply my-2 cursor-pointer block;
        }
      }

      &:hover .dropdown {
        opacity: 1;
        pointer-events: initial;

        &::before {
          transform: scaleX(1.5) translateY(-16px) rotate(0deg);
        }
      }
    }
  }
}

.videointro {
  @apply fixed left-0 top-0 bg-white flex justify-center items-center cursor-default transition-all;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  video {
    @apply pointer-events-none;
    width: 300px;
    height: auto;
  }
  &.done {
    opacity: 0;
    pointer-events: none;
  }

  &.idle {
    opacity: 0;
    pointer-events: none;
  }

  &.started {
    opacity: 1;
    pointer-events: all;
  }
}

.bottommenucontainer {
  @apply fixed cursor-default w-screen px-3;
  z-index: 500;
  bottom: 10px;

  .bottommenu {
    @apply py-2 bg-secondary text-white shadow-2xl rounded-lg flex;

    .bmenuitem {
      @apply flex justify-center relative items-center flex-col font-semibold w-max opacity-80 cursor-pointer transition-all;
      flex-grow: 1;
      height: 48px;
      z-index: 10;

      &:hover {
        opacity: 1;
      }

      &.active {
        opacity: 1;
        h6 {
          @apply border-primary-light;
        }
      }

      .mdi {
        @apply text-xl;
      }

      h6 {
        @apply text-xs border-b-2 border-transparent inline-block pb-1;
      }
    }
  }
}
