@import "./variables.scss";

.herobanner {
  @apply w-full relative pb-3;
  min-height: 400px;

  & .dummy::after {
    content: "";
    @apply absolute top-0 left-0 w-full bg-gray-900 opacity-60 transition-opacity;
    height: 240px;
    z-index: 4;
    pointer-events: none;
  }

  & > .img {
    @apply absolute w-full;
    height: 240px;

    .imgslide {
      height: 240px;
      width: 100%;
      position: relative;
    }
  }

  .searchbox {
    @apply relative w-full my-4 flex flex-col justify-center items-center;
    height: 200px;
    z-index: 5;

    .searchbar {
      @apply relative mb-2;
      input {
        @apply pl-3 py-2 pr-8 rounded-lg;
        width: 400px;
        max-width: calc(100vw - 32px);
      }
      span {
        @apply absolute top-2 right-3;
      }
    }

    small {
      @apply text-white font-semibold;
    }
  }

  .servicesbox {
    @apply relative w-full my-4 flex justify-center;
    z-index: 5;

    .servicescard {
      @apply bg-white shadow-md rounded-md px-3 py-2 w-full flex flex-wrap justify-between;
      min-height: 200px;
      max-height: 200px;
      transition: max-height 0.75s ease-in-out;
      overflow: hidden;

      .service {
        @apply cursor-pointer p-2 m-2 md:m-4 flex flex-col items-center;
        height: 80px;
        width: 90px;
        .serviceimg {
          @apply relative;
          height: 32px;
          width: 32px;
        }
        span {
          @apply mt-2 text-xs font-semibold text-gray-600 text-center;
          max-width: 120px;
        }

        &:hover span {
          @apply text-primary;
        }
      }

      .expandbtn {
        @apply absolute mx-auto left-0 right-0 bg-white rounded-full px-3 py-1 shadow-lg ring-1 ring-primary-light;
        bottom: -25px;
      }
    }

    @screen md {
      .servicescard {
        min-height: 300px;
        max-height: 300px;
        .service {
          width: 100px;
          height: 120px;

          .serviceimg {
            width: 48px;
            height: 48px;
          }

          span {
            @apply text-sm;
          }
        }
      }
    }

    .servicescard_expand {
      max-height: 1000px;
    }

    .servicescard_minified {
      min-height: 150px;
      width: auto;
    }
  }

  &:focus-within .dummy::after {
    @apply opacity-80;
  }

  @screen md {
    & .dummy::after {
      height: 480px;
    }

    & > .img {
      height: 480px;

      .imgslide {
        height: 480px;
      }
    }

    .searchbox {
      height: 300px;
    }
  }
}

@screen md {
  .herobanner {
    min-height: 600px;
  }
}

.dealscontainer {
  @apply w-full max-w-screen-lg mx-auto relative py-6 mb-6 mt-4 prose;

  h2 {
    @apply text-gray-600 cursor-default relative pb-3 mx-auto;
    max-width: max-content;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      border-radius: 6px;
      width: 40px;
      @apply bg-secondary-light;
    }
  }

  .sliderone {
    @apply w-full py-1;

    .dealbox {
      @apply p-3;
      .dealcard {
        @apply relative shadow-lg rounded-md cursor-pointer px-3 py-5 transition-all text-center hover:shadow-md prose;
        padding-bottom: 20px;
        height: 120px;
        h5 {
          @apply text-2xl font-extrabold text-gray-400;
          background: linear-gradient(
            to right,
            theme("colors.primary.light") 0%,
            theme("colors.primary.dark") 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        span {
          @apply text-sm;
          height: 40px;
        }
        small {
          @apply mx-auto absolute bottom-1;
        }

        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }
}

.contactuscontainer {
  @apply bg-gray-200 py-6;

  h2 {
    @apply font-bold text-gray-600 cursor-default relative pb-3 text-center mx-auto;
    max-width: fit-content;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3333333;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      border-radius: 6px;
      width: 40px;
      @apply bg-secondary-light;
    }
  }
  .locationmap {
    .mapbox {
      @apply shadow border-4 border-white rounded-sm;
      height: 300px;
      width: 300px;
    }
  }
  .contactusform {
    @apply w-full;
    max-width: 300px;
  }

  @screen md {
    h2 {
      @apply text-left;
      max-width: max-content;
    }

    .contactusform {
      @apply w-auto;
      max-width: unset;
    }
  }
}
