@import "./variables.scss";

.servicedetailspage {
  @apply relative w-full;
  min-height: 600px;

  .servicebanner {
    @apply relative w-full max-w-screen-lg mx-auto mt-6 mb-1 rounded overflow-hidden;
    height: 200px;

    .categorydetails {
      @apply absolute w-full bottom-0 px-3 py-2 bg-secondary bg-opacity-90 text-white;

      h1 {
        @apply text-2xl font-extrabold mb-2;
      }

      p {
        @apply mb-2;
      }
    }
  }

  .subcats {
    @apply w-full flex;
    overflow-y: auto;

    .subcat {
      @apply flex-1 py-3 px-2 border border-gray-100 border-b-4 text-center cursor-pointer block text-sm capitalize;
      border-bottom-color: transparent;
      max-width: 180px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: pre;
    }

    .subcat_active {
      border-bottom-color: theme("colors.secondary.light");
      @apply cursor-default;
    }
  }

  .servicecontent {
    @apply py-4;

    .subsubcatsholder {
      @apply relative w-full bg-white transition-all;

      &.subsubcatsholder_fixed {
        @apply fixed shadow-md rounded-none z-10 px-2 py-2 mt-0 bg-gray-100 mx-auto left-0 right-0 max-w-screen-xl;
        top: $headerHeight;
        width: auto;
        .subsubcats {
          @apply m-auto justify-start;
        }
      }
    }
  }

  .subsubcats {
    @apply flex mb-8;
    max-width: 100%;
    overflow-x: auto;
    .subsubcat {
      @apply block my-2 mx-1 py-2 px-3 border-2 border-gray-800 rounded cursor-pointer hover:bg-gray-100 text-sm capitalize;
      text-overflow: ellipsis;
      white-space: pre;
    }

    .subsubcat_active {
      @apply bg-gray-800 text-white cursor-default hover:bg-gray-800;
    }
  }

  .serviceslist {
    @apply px-3;
    .servicecard {
      @apply flex flex-wrap py-5 border-b mt-1;
      .serviceimg {
        @apply relative rounded mr-3 mb-3;
        width: 110px;
        height: 110px;
        background-image: url(/images/placeholder.gif);
      }

      .counter {
        @apply flex justify-between w-full relative items-center pr-3;
        button {
          @apply px-1 rounded shadow font-extrabold text-primary-dark text-xl;
          width: 32px;
          height: 32px;
        }
        span {
          @apply font-semibold text-secondary;
        }
      }
    }

    .serviceinfo {
      @apply prose;
      max-width: 24ch;
      h4 {
        @apply text-gray-700 w-full;
      }
      .priceinfo {
        .newprice {
          @apply inline-block text-xl text-secondary font-bold;
        }
        .oldprice {
          @apply inline-block text-lg text-secondary-light opacity-40 ml-3 font-semibold;
        }
      }
    }

    .servicedetails {
      @apply w-full prose-sm;

      p {
        ul {
          @apply pl-3;
        }
        li {
          @apply pl-0;
          list-style-type: disc;
        }
      }
    }
  }

  .accordioncontainer {
    @apply prose-sm;
  }
}

@screen md {
  .servicedetailspage {
    .servicebanner {
      height: 400px;

      .categorydetails {
        h1 {
          @apply text-4xl;
        }
      }
    }

    .servicecontent {
      .subsubcatsholder {
        &.subsubcatsholder_fixed {
          @apply rounded-lg mt-1 bg-white;
          .subsubcats {
            @apply justify-center;
          }
        }
      }
    }

    .subsubcats {
      @apply flex-wrap;
      max-width: unset;
      overflow-x: unset;

      .subsubcat {
        overflow-x: hidden;
      }
    }

    .serviceslist {
      @apply px-1;

      .serviceinfo {
        max-width: unset;
      }

      .servicedetails {
        @apply prose;

        p {
          ul {
            @apply pl-0;
          }
          li {
            list-style-type: unset;
          }
        }
      }
    }
  }
}
